@charset "utf-8";
 @import "@/assets/css/common.scss";
 header{
	 display: none;
 }
 footer{
   background: linear-gradient(to top,#000 50%,transparent 100%);
 }
 article{
   padding-bottom: 6.5rem;
 }
 .myNFT{
   width: 100%;
   min-height: 100vh;
   background: url("@/assets/img/my_bg.jpg") no-repeat;
   background-size: 100%;
   background-attachment: fixed;
   .line{
     width: 100%;
     height: 2px;
     background: url("@/assets/img/my_line.png") no-repeat;
     background-size: 100%;
   }
 }
 .title-cont{
   text-align: center;
   padding: 3rem 0 0;
   h1{
     font-size: 3rem;
     font-weight: bold;
   }
   h5{
     padding-bottom: 2rem;
     font-size: 0.875rem;
     color: $color-w-m;
   }
 }
 .sub-title{
   font-size: 1.5rem;
   font-weight: bold;
   padding: 1rem 2rem;
 }
 ul{
   padding: 2rem 2rem 1rem;
	 li{
		 margin-right: 10px;
		 margin-bottom: 20px;
		 // &:nth-child(4n){
		 //   margin-right: 0;
		 // }
		 .img-def{
		 	width: 72px;
		 	height: 80px;
		 	background: url("@/assets/img/my_nft_bee_def.png") center bottom no-repeat;
		 	background-size: 100%;
		 }
	 }
   .bee-cont{
     width: 72px;
     height: 83px;
     background: url("@/assets/img/my_bee_border.png") no-repeat;
     background-size: 100%;
     position: relative;
     overflow: hidden;
     transition: all 0.15s ease;
     &::before,&::after{
       content: "";
       width: 40px;
       height: 24px;
       position: absolute;
       top: -2px;
       z-index: 3;
     }
     &::before{
       background: url("@/assets/img/my_bee_tl_cover.png") no-repeat;
       background-size: 100%;
       left: 0;
     }
     &::after{
       background: url("@/assets/img/my_bee_tr_cover.png") no-repeat;
       background-size: 100%;
       right: 0;
     }
     .img-cont{
       width: 70px;
       height: 83px;
       overflow: hidden;
       position: absolute;
       top: 0;
       left: 1px;
       img{
         width: 100%;
         min-height: 100%;
         object-fit: cover;
       }
     }
     .cover{
       &::before,&::after{
         content: "";
         width: 40px;
         height: 24px;
         position: absolute;
         bottom: -2px;
         z-index: 3;
       }
       &::before{
         background: url("@/assets/img/my_bee_bl_cover.png") no-repeat;
         background-size: 100%;
         left: 0;
       }
       &::after{
         background: url("@/assets/img/my_bee_br_cover.png") no-repeat;
         background-size: 100%;
         right: 0;
       }
     }
   }
	 h3{
		 text-align: center;
		 padding-top: 5px;
	 }
 }
 .popup-warpper.mint-bee-pop{
	 &.b-bee{
		 .bee-img-grp{
			 background: url("@/assets/img/s_bee_card_bg.png") no-repeat;
			 background-size: 100%;
		 }
		 .light-img{
			 background: url("@/assets/img/s_bee_card_light.png") no-repeat;
			 background-size: 100%;
		 }
		 .logo-img-cont{
			 background: url("@/assets/img/g_bee_logo.png") no-repeat;
			 background-size: 100%;
		 }
		 .bee-img{
			 &:before{
				 background: url("@/assets/img/s_bee_card_border_up.png") no-repeat;
				 background-size: 100%;
			 }
			 &::after{
			   background: url("@/assets/img/s_bee_card_border_down.png") no-repeat;
			   background-size: 100%;
			 }
		 }
		 .bee-img-bg{
			 background: url("@/assets/img/s_bee_card_border.png") no-repeat;
			 background-size: 100%;
		 }
	 }
	 &.g-bee{
	 		 .bee-img-grp{
	 			 background: url("@/assets/img/g_bee_card_bg.png") no-repeat;
	 			 background-size: 100%;
	 		 }
	 		 .light-img{
	 			 background: url("@/assets/img/g_bee_card_light.png") no-repeat;
	 			 background-size: 100%;
	 		 }
	 		 .logo-img-cont{
	 			 background: url("@/assets/img/g_bee_logo.png") no-repeat;
	 			 background-size: 100%;
	 		 }
	 		 .bee-img{
	 			 &:before{
	 				 background: url("@/assets/img/g_bee_card_border_up.png") no-repeat;
	 				 background-size: 100%;
	 			 }
	 			 &::after{
	 			   background: url("@/assets/img/g_bee_card_border_down.png") no-repeat;
	 			   background-size: 100%;
	 			 }
	 		 }
	 		 .bee-img-bg{
	 			 background: url("@/assets/img/g_bee_card_border.png") no-repeat;
	 			 background-size: 100%;
	 		 }
	 }
   .bee-img-grp{
     width: 30rem;
     height: 33rem;
     margin: 0 auto;
     position: relative;
     .light-img{
       width: 7.375rem;
       height: 7.375rem;
       position: absolute;
       top: -3.75rem;
       right: 0.5rem;
       z-index: 5;
     }
 		.logo-img-cont{
 		  width: 3.75rem;
 		  height: 2.1875rem;
 		  position: absolute;
 		  top: 2.5rem;
 		  right: 3rem;
 		  z-index: 9;
 		}
     .bee-img{
       width: 25rem;
       height: 25rem;
       // overflow: hidden;
       position: absolute;
       top: 1rem;
       left: 4rem;
       &::after,
       &::before{
         content: "";
         width: 1.8rem;
         height: 1.8rem;
         position: absolute;
         right: -1px;
 				z-index: 9;
       }
       &:before{
         top: -1px;
       }
       &::after{
         bottom: -1px;
       }
       img{
         width: 100%;
         min-height: 100%;
         object-fit: cover;
       }
 			.img-def{
 				position: absolute;
 				top: 0;
 				left: 0;
 				z-index: 1;
 			}
       .bee-img-bg{
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 9;
       }
     }
     .g-num{
       position: absolute;
       bottom: 0;
       left: 4rem;
       font-size: 4.5rem;
       filter: brightness(120%);
       span{
         font-weight: 900;
       }
       i{
         font-weight: 100;
         font-style: normal;
       }
     }
   }
   h3{
     font-size: 2rem;
     text-align: center;
     padding: 3rem 0 0;
     font-weight: bold;
   }
   .btn-close{
     margin: 2.5rem auto 0;
   }
 }
 
 
 
 
 
 @media only screen and (min-width:359px) and (max-width:374px) {
   ul{
     li{
       margin-right: 8px
     }
   }
 }
 @media only screen and (min-width:390px) {
   ul{
     li{
       margin-right: 15px
     }
   }
 }
 @media only screen and (min-width:413px) {
   ul{
     li{
       margin-right: 18px
     }
   }
 }
 @media only screen and (min-width:500px){
	 ul{
	   li{
	     margin-right: 22px;
	   }
	 }
 }
  @media only screen and (min-width:750px){
		.myNFT{
 		height: 100vh;
 		min-height: auto;
 		overflow-y: auto;
 		background: url("@/assets/img/pc/my_bg.png") center bottom no-repeat;
 	}
	header{
		display: flex;
		background: linear-gradient(to bottom, #000 50%, transparent 100%);
	}
	footer{
		background: none;
	}
	article{
		width: 750px;
		margin: 0 auto;
		padding-top: 130px;
		ul{
			padding: 1rem 12px;
			li{
				margin-right: 0;
				margin-left: 20px !important;
				.img-def{
					width: 100px;
					height: 115px;
				}
				.bee-cont{
					width: 100px;
					height: 115px;
					cursor: pointer;
					transition: all 0.15s ease;
					&:hover{
					 transform: scale(1.03);
					 filter: brightness(130%);
					}
					&:active{
					 transform: scale(1);
					 filter: brightness(70%);
					}
					&::after,&:before{
						width: 53px;
						height: 32px;
					}
					.img-cont{
					  width: 98px;
					  height: 115px;
					}
					.cover{
						&::after,&:before{
							width: 53px;
							height: 32px;
						}
					}
				}
			} 
		}
		.cont-g{
			margin-top: 60px;
		}
	}
	.sub-title{
		padding: 1rem 24px;
	}
	.title-cont{
		display: none;
	}
	.line{
		display: none;
	}
	.bee-grp-cont{
		width: 50%;
		display: inline-block;
	}
	}
  @media only screen and (min-width:1090px) {
		article{
			width: 1000px;
			ul{
				li{
					.img-def{
						width: 145px;
						height: 165px;
					}
					.bee-cont{
						width: 145px;
						height: 165px;
						&::after,&:before{
							width: 76px;
							height: 45px;
						}
						.img-cont{
						  width: 143px;
						  height: 165px;
						}
						.cover{
							&::after,&:before{
								width: 76px;
								height: 45px;
							}
						}
					}
				} 
			}
		}
	}