@charset "utf-8";
 @import "@/assets/css/common.scss";
 article{
   width: 100%;
   height: 100vh;
   // background: radial-gradient(#342177,#000);
   .cont{
     width: 100%;
     position: absolute;
     top: 50%;
     left: 0;
     transform: translateY(-50%);
     .bee-bg{
       width: 100%;
       height: 37rem;
       margin: 0 auto;
       background: url("@/assets/img/z_bee.png") center no-repeat;
       background-size: 80%;
       position: relative;
       font-size: 4rem;
       &::after{
         content: "";
         width: 100%;
         height: 60rem;
         position: absolute;
         top: 50%;
         left: 0;
         transform: translateY(-50%);
         background: url("@/assets/img/z_bee_bg.png") no-repeat;
         background-size: 150%;
         background-position-x: center;
         z-index: -1;
       }
     }
     .btn-mint{
       width: 15rem;
       height: 6.25rem;
       margin: 1rem auto 0;
       background: url("@/assets/img/btn_main_dis.png") no-repeat;
       background-size: 100%;
       position: relative;
       z-index: 3;
     }
     .num-cont{
       color: $color-w-l;
       text-align: center;
       font-size: 2.5rem;
       margin: 2.5rem auto 0;
     }
     .tips{
       font-size: 0.75rem;
       color: $color-b-m;
       padding-top: 0.625rem;
       .icon-i{
         display: inline-block;
         width: 1.5rem;
         height: 1.5rem;
         background: url("@/assets/img/i_icon.png") no-repeat;
         background-size: 100%;
         margin-right: 0.625rem;
       }
     }
   }
 }
 @media only screen and (min-width:950px) {
   article{
     .cont{
        transform: translateY(-45%);
      .bee-bg{
         width: 30rem;
         height: 30rem;
         &::after{
           width: 1000px;
           height: 1000px;
           background: url("@/assets/img/z_bee_bg.png") no-repeat;
           background-size: 100%;
           left: 50%;
           transform: translatex(-50%) translateY(-50%);
         }
       }
       .tips{
         font-size: 1rem;
         padding-top: 10px;
         cursor: pointer;
         transition: all 0.15s ease;
         &:hover{
           text-decoration: underline;
           color: rgba(#fff, 0.8);
         }
         &:active{
           color: rgba(#fff, 0.3);
         }
       }
     }
   }
 }