@charset "utf-8";
 @import "@/assets/css/common.scss";
 article{
	 .cont{
		 position: absolute;
		 top: 50%;
		 left: 0;
		 width: 100%;
		 transform: translateY(-50%);
	 }
   .bee-cont{
     width: 100%;
     video{
       width: 100%;
     }
   }
   .num-cont{
     text-align: center;
     font-size: 2.5rem;
     margin: 2.5rem auto 0;
   }
   .tips{
     font-size: 1rem;
     color: $color-b-m;
     padding-top: 1rem;
		 &:active{
			 color: rgba(#fff, 0.3);
		 }
   }
   .icon-i{
     display: inline-block;
     width: 1.5rem;
     height: 1.5rem;
     background: url("@/assets/img/i_icon.png") no-repeat;
     background-size: 100%;
     margin-right: 0.625rem;
   }
 }
 .btn-mint{
   width: 15rem;
   height: 6.25rem;
   margin: -1rem auto 0;
   background: url("@/assets/img/btn_main.png") no-repeat;
   background-size: 100%;
   position: relative;
   z-index: 3;
   transition: all 0.15s ease;
   &:active{
     transform: scale(0.98);
     filter: brightness(70%);
   }
 }
 .popup-warpper.mint-pop{
   .mint-pop-img{
     width: 16.6875rem;
     height: 18.625rem;
     margin: 0 auto;
     background: url("@/assets/img/mint_img.png") no-repeat;
     background-size: 100%;
   }
   h3{
     font-size: 1.75rem;
     text-align: center;
     width: 65%;
     padding-top: 1.25rem;
     margin: 0 auto;
   }
   .btn-mint.btn-popup{
     margin: 3rem auto 0;
   }
   .btn-close{
     margin: 2.5rem auto 0;
   }
 }
 .popup-warpper.mint-bee-pop{
   .bee-img-grp{
     width: 21.375rem;
     height: 29.8125rem;
     margin: 0 auto;
     opacity: 0.8;
     background: url("@/assets/img/g_bee_card_bg.png") no-repeat;
     background-size: 100%;
     position: relative;
     .light-img{
       width: 6.25rem;
       height: 10.8125rem;
       background: url("@/assets/img/g_bee_card_light.png") no-repeat;
       background-size: 100%;
       position: absolute;
       top: 0;
       right: -3rem;
       z-index: 5;
     }
     .bee-img{
       width: 18rem;
       height: 18rem;
       overflow: hidden;
       position: absolute;
       top: 5rem;
       left: 2.75rem;
       &::after,
       &::before{
         content: "";
         width: 1.3rem;
         height: 1.3rem;
         position: absolute;
         right: 0;
       }
       &:before{
         top: 0;
         background: url("@/assets/img/g_bee_card_border_up.png") no-repeat;
         background-size: 100%;
       }
       &::after{
         bottom: 0;
         background: url("@/assets/img/g_bee_card_border_down.png") no-repeat;
         background-size: 100%;
       }
       img{
         width: 100%;
         min-height: 100%;
         object-fit: cover;
       }
       .bee-img-bg{
         width: 100%;
         height: 100%;
         background: url("@/assets/img/g_bee_card_border.png") no-repeat;
         background-size: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 9;
       }
     }
     .g-num{
       position: absolute;
       bottom: 0;
       left: 3rem;
       font-size: 3.5rem;
       filter: brightness(120%);
       span{
         font-weight: 900;
       }
       i{
         font-weight: 100;
         font-style: normal;
       }
     }
   }
   h3{
     font-size: 2rem;
     text-align: center;
     padding: 3rem 0 0;
     font-weight: bold;
   }
   .btn-close{
     margin: 2.5rem auto 0;
   }
 }
  @media only screen and (min-width:600px) and (max-width:949px){
		article .cont .bee-cont{
			width: 70%;
			margin: 0 auto;
		}
		.btn-mint{
		  margin: -3rem auto 0;
		  cursor: pointer;
		  &:hover{
		    transform: scale(1.03);
		    filter: brightness(130%);
		  }
				 &:active{
				   transform: scale(1);
				   filter: brightness(80%);
				 }
		}
		.tips{
			padding-top: 20px;
			span{
			 font-size: 1.2rem;
			 cursor: pointer;
			 transition: all 0.15s ease;
			 &:hover{
				 text-decoration: underline;
				 color: rgba(#fff, 0.8);
			 }
			 &:active{
				 color: rgba(#fff, 0.3);
			 }
		 }
		}
	}
 
 @media only screen and (min-width:950px) {
   .gold-gradient-text {
     background: linear-gradient(160deg,#b5771f 10%, #9a5c03 30%,#bf8625 45% ,#f7e773 50% , #b1841c 55%,#451d00 56% , #c28426 86%, #8d6d30 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
   }
	 article .cont{
		 position: relative;
		 top: 50px;
		 left: 0;
		 transform: translateY(0);
	 }
	 .bee-cont{
	   width: 100%;
	   video{
	     width: 100%;
			 height: 70vh;
	   }
	 }
   .btn-mint{
     margin: -3rem auto 0;
     cursor: pointer;
     &:hover{
       transform: scale(1.03);
       filter: brightness(130%);
     }
		 &:active{
		   transform: scale(1);
		   filter: brightness(80%);
		 }
   }
	 .tips{
			padding-top: 20px;
			span{
			 font-size: 1.2rem;
			 cursor: pointer;
			 transition: all 0.15s ease;
			 &:hover{
				 text-decoration: underline;
				 color: rgba(#fff, 0.8);
			 }
			 &:active{
				 color: rgba(#fff, 0.3);
			 }
		 }
	 }
 }